@import url("./events.css");

* {
    box-sizing: border-box;
}

html {
    font-family: "Jost", sans-serif;
}

body {
    margin: 0;
}

header {
    max-width: 40rem;
    width: 90%;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: #8b5cf6;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
